<div class="page">
    <div class="card">
        <h3 class="text-center">Formulario</h3>
        <div class="skeleton-grid">
            <div class="field-skel">
                <app-skeleton [height]="30" [width]="85"></app-skeleton>
            </div>

            <div class="field-skel">
                <app-skeleton [height]="30" [width]="85"></app-skeleton>
            </div>
        </div>
        <div class="skeleton-grid">
            <div class="field-skel">
                <app-skeleton [height]="30" [width]="85"></app-skeleton>
            </div>

            <div class="field-skel">
                <app-skeleton [height]="30" [width]="85"></app-skeleton>
            </div>
        </div>
        <div class="skeleton-grid">
            <div class="field-skel">
                <app-skeleton [height]="30" [width]="85"></app-skeleton>
            </div>

            <div class="field-skel">
                <app-skeleton [height]="30" [width]="85"></app-skeleton>
            </div>
        </div>
        <div class="skeleton-grid">
            <div class="field-skel">
                <app-skeleton [height]="30" [width]="20"></app-skeleton>
            </div>

            <div class="field-skel">
                <app-skeleton [height]="30" [width]="20"></app-skeleton>
            </div>
        </div>
    </div>
</div>