.skeleton {
  border-radius: 8px;
  background-color: #64646475; 
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.85),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% { transform: translateX(-120%); }
  100% { transform: translateX(120%); }
}